@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css or src/App.css */

@keyframes colorPulse {
  0% { background-color: #E97451; } /* Burnt Sienna */
  25% { background-color: #FC8EAC; } /* Flamingo Pink */
  50% { background-color: #F4C2C2; } /* Baby Pink */
  75% { background-color: #E0B0FF; } /* Mauve */
  100% { background-color: #FFA07A; } /* Ice Orange */
}

/* Apply this class to any element you want to animate */
.animate-color-pulse {
  animation: colorPulse 10s ease-in-out infinite;
}